*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.dashboard-page{
    height:100vh;
    width: 100vw;
}

.body-login{
    height : 100vh; 
    width:100vw;
    background-color: rgb(212, 200, 200);
}
.dashboard{
    background-color: #000;
    height: auto;
    width: 100vw;
}
.form-sec{
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(65, 65, 65,0.3) ;
    border-radius: 5px;
     

    form{
             height: 50%;
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
            //  padding: 2rem;
             input{
                 padding: 8px 10px;
                 margin: 10px 0px;
             }
             a{
                //  background-color: grey;
                 width: 100%;
                 text-align: right;

             }
             
    }
    .submit{
          width: 40%;
          padding: 8px 2rem;
    }
}
#chart{
    max-height: 50vh;
    canvas{
          max-height: 40vh;
    }
}
.dropdown-icon{
    height: 16px;
}
// dashboard---------------------------------------------------------------------------
.dashboard-menu{
    left: 0;
    top: 0;
    // z-index: 99;
    height: auto;
   width: 13%;
   box-shadow: 9px 7px 9px 9px solid #000;
}
.dashboard-content{
    right: 0;
    top:0;
    background-color: #000;
    max-width: 87%;
    // max-height: 100vh;
    // overflow-y: scroll;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
}
.menu-section{
    button{
        width:100%;
        // background: ;
    }
    span{
        width: 80%;
        img{
            height: 21px;
        }
    }
    i{
        width: 20%;
    }

    
}
.footer-menu{
    background-color: rgb(70, 70, 70);
    div{
        a{
            img{
                height: 21px;
            }
        }
    }
}
.navbar{
    top: 0;
    a{
        img{
            height: 21px;
        }
    }
    button{
        img{
            height:21px;
        }
    }
}
.profile{
    height:300px;
}
.skills-sec{
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#Form-add-member{
      input{
          border: none;
          border-radius: 5px;
      }
}


@media only screen and ( max-width : 1200px){
    .dashboard-menu{
        min-height: 100vh;
       width: 13%;

    }
    .dashboard-content{
        width: 83%;
        margin-left: 0;
      } 
    }

@media only screen and ( max-width : 900px){
              .greet-username{
                         p{
                             display: none;
                         }
                }
            .form-sec{
                 width: 80%;
            }
            .dashboard-menu{

               width: 13%; 
            }
            .menu-section{
                button{
                    span{
                        strong{
                            display: none;
                        }
                    }
                    i{
                        display: none;
                    }
                }
         }
            .dashboard-content{
                width: 83%;
                margin-left: 0;
            }
            .navbar{
                top: 0;
                a{
                    img{
                        // height: 16px;
                        display: none;
                    }
                }
            }

}
@media only screen and ( max-width : 900px){

  .dashboard-menu{

     width: 13%; 
     display: none;
  }
  .dashboard-content{
      width: 95%;
      margin-left: 0;
  }

}